@import "./MixVar";

.users,
.fetch-users,
.add-edit,
.profile,
.skills,
.update-profile {
  margin-top: 65px;
  text-align: -webkit-center;
  .btn-primary {
    background-color: $blueColor;
  }
}

.users {
  .rounded-circle {
    height: 105px;
    width: 105px;
    object-fit: cover;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  }
}

// Users Page

.users {
  .card {
    max-width: 500px;
    border: 0px !important;
    border-top: 2px solid !important;
    border-image: linear-gradient(
      to left,
      $whiteColor,
      $darkBlueColor
    ) !important;
    border-image-slice: 1 !important;
    .email {
      font-size: $fontSmall;
      letter-spacing: 1px;
      text-decoration: underline;
    }
  }

  .card-body {
    padding-bottom: 0px !important;
  }
}

// Add-edit page

.add-edit {
  label {
    padding: 7px;
    margin: 0;
    font-size: 0.875rem;
    border: none;
    text-align: left;
    background-color: $darkerGreyColor;
    color: #6c757e;
  }
  #inputGroupFile02 {
    height: auto;
    border: 1px solid lightgrey;
    margin-bottom: 17px;
    border-radius: 4px;
  }
  .custom-file {
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 365px;
    margin-bottom: 15px;
    background-color: $darkerGreyColor;
  }
  .custom-file-input {
    top: -35px;
    margin: 0;
  }
  .uploadImg {
    width: inherit;
    height: 305px;
    top: -30px;
    position: relative;
    object-fit: cover;
  }
  .custom-file:hover,
  label:hover,
  #inputGroupFile02:hover {
    cursor: pointer;
  }
}

// Profile page

.profile {
  .card-img-top {
    object-fit: cover;
    height: 265px;
  }
}

// Skills page

.skills {
  .card {
    width: 85vw;
    font-size: 0.75rem;
    padding: 5px;
    margin-bottom: 20px;
  }
}

// Update ProfilePage

.update-profile {
  max-width: 300px;
}
